* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(241, 236, 236);
}

button {
  width: 160px;
}

footer {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 1.8rem;
  background-color: thistle;
  padding: 5px;
  width: 100%;
  margin-top: 70px;
}